---
import Card from "@/components/Card.astro";

const education = [
  {
    institution: "Escuela Técnica Nº26, Argentina",
    title: "Computer Technician",
    period: "01/2016 - 12/2022",
    description:
      "A school specializing in computing where I learned PHP, JavaScript, C#, Git, GitHub, MySQL and SQL Server, giving me the basics I needed to keep learning on my own.",
  },
  {
    institution: "Aprende Programando, UTN, Argentina",
    title: "Full-Stack Web Developer",
    href: "https://drive.google.com/file/d/12OoFRmzsZZfYMFRwysFwWiv7QR7MJATR/view",
    period: "05/2022 - 07/2022",
    description:
      'Course at the UTN where I learned the "MERN" stack (Node.js, Express.js, React, and MongoDB).',
  },
];
---

<Card class="md:col-span-3 md:row-span-2 md:col-start-3 md:row-start-4">
  <div class="flex flex-col h-full gap-3">
    <h1 class="text-xl text-balance inter-600">Education</h1>

    <div class="flex flex-col gap-4 overflow-y-auto pr-1 min-h-0 flex-1">
      {
        education.map((item) => (
          <div class="flex flex-col gap-0.5">
            <span class="inter-600 text-pretty">{item.institution}</span>
            <span class="text-purple-800 text-sm">{item.title}</span>
            {item.href && (
              <a
                class="text-blue-800 underline hover:opacity-50 text-sm w-fit"
                href={item.href}
                target="_blank"
              >
                Certificate
              </a>
            )}
            <span class="text-neutral-500 text-xs">{item.period}</span>
            <span class="text-neutral-400 text-pretty text-sm mt-1">
              {item.description}
            </span>
          </div>
        ))
      }
    </div>
  </div>
</Card>
